@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.padding-top60 {
  padding-top: 60px;
}

.padding-bottom60 {
  padding-bottom: 60px;
}

.padding-left20 {
  padding-left: 20px;
}

.padding-right20 {
  padding-right: 20px;
}

.col-width-not-defined {
  position: relative;
  min-height: 1px;
  float: left;
}

.title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #5737a9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gray-bg {
  background-color: #eeeeee;
}

.transparent-bg {
  background: none;
}

.margin-horizontal40 {
  margin-left: 40px;
  margin-right: 40px;
}

