- relative_path = current_page.file_descriptor.relative_path

%h5
  このページに貢献する

%div
  = link_to('ソースコード', blob_editor_url(data.site, monorepo_site_path_fragment, relative_path), class: 'external-source-link')
  &bull;
  = link_to('Web IDEで開く', web_ide_url(data.site, monorepo_site_path_fragment, relative_path), class: 'external-source-link')
  .d-flex.align-items-center.mt-2

%h5
  英語版オリジナル
  = link_to('閲覧する', original_view_url(data.site, monorepo_site_path_fragment, relative_path))
  &bull;
  = link_to('ソースコード', original_blob_editor_url(data.site, monorepo_site_path_fragment, relative_path))